{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<!--
Lower Header Section
-->
<div class="container">
  <header id="header">
    <div class="row">
    </div>
  </header>
  <hr>

  <!--
  Body Section
  -->
  <div class="row">

    <div class="span9">
      <!--
      New Products
    -->
      <div class="well well-small">
        <div class="row-fluid">
          <div id="newProductCar">
            <div>
              <div class="item active">
                <ul class="thumbnails">
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="#" class="tag"></a>
                      <a href="product_details.html"><img src="/img/dog1.png" alt="bootstrap-ring"></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="#" class="tag"></a>
                      <a href="product_details.html"><img src="/img/dog2.png" alt=""></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="#" class="tag"></a>
                      <a href="product_details.html"><img src="/img/dog3.png" alt=""></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="product_details.html"><img src="/img/dog4.png" alt=""></a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item">
                <ul class="thumbnails">
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="product_details.html"><img src="/img/gato1.png" alt=""></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="product_details.html"><img src="/img/gato2.png" alt=""></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="product_details.html"><img src="/img/gato3.png" alt=""></a>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                      <a href="product_details.html"><img src="/img/gato4.png" alt=""></a>
                    </div>
                    <li class="span3">
                      <div class="thumbnail">
                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                        <a href="product_details.html"><img src="/img/gato4.png" alt=""></a>
                      </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </container>
